# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data
data/raw/
data/processed/
data/models_local/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/
cache/
*.cache
.osmnx/



# Temp/scratch files
*.txt
!README.md
!RUN_GUIDE.md
!requirements.txt
data-PemsBay/pems-bay.h5
data-PemsBay/processed/
